@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700;900&display=swap');/* margin: top right bottom left */

li {
    display: inline-block;
}

ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 2em;
}



.blue {
    background-color: #77b6fe;
    position: relative;
    min-width: 100em;
    min-height: 39em;
    margin: -2em 0em 0em 69.5em;
    z-index: -1;
}

.header{
    position: relative;
    margin: -37em 0em 0em 53em;
}

.logo{position: absolute;
  margin: -0.2em 0em 0em -18.7em;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

img{position: relative;
    margin: 3em 0em 0em 37.5em;
    height: 620px;}

.container{position: relative;
margin: -31em 0em 0em 25em;
}

label{font-family: 'Poppins', sans-serif;
font-weight: 700;
font-size: 15px;
color:#007bff;
letter-spacing: 0.2em;
}    

.title2{font-family: 'Poppins', sans-serif;
font-weight: 900;
font-size: 60px;
color:#007bff;
margin: 0em 0em 0em 0em;
}

#a{margin: -0.3em 0em 0em 0em;}

span{color:black;}

#title3{font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 30px;
margin: -0.3em 0em 0em 0em;
}

button{background: none;
border-color: #77b6fe;
font-family: 'Poppins', sans-serif;
color: #007bff;
padding: 0.25em 1.5em 0.25em 1.5em;
margin: 1em 0em 0em 0em;
font-weight: 500;
letter-spacing: 0.2em;
}

.circle{position: absolute;
top: 120px;
right: 350px;
width: 70px;
height: 70px;
background: #fff;
z-index: 3;
border-radius: 50%;}

#play{position:absolute;
width: 23x;
height: 23px;
z-index: 4;
top: 95px;
right: 365px;
}

.Home{color: #007bff;
text-decoration: underline #007bff;
text-underline-offset: 0.5rem; 
}
